.style {
	max-width: 400px;
	margin: auto;
}
.search-input {
	width: 360px;
	text-align: center;
	margin-left: 200px;
}
.input-icons i {
	position: absolute;
}

.input-icons {
	width: 100%;
	margin-bottom: 10px;
}

.icon-menu {
	margin-left: -167px;
	padding: 10px;
	margin-top: 5px;
}

.input-field {
	width: 360px;

	padding: 10px;
	text-align: center;
}
