.follow-name {
	margin: 10px;
}
.button-follow {
	margin-left: 150px;
	background-color: #edeef0;
	border-radius: 14px;
}
.text-green {
	color: #27a365;
}
.img-nav {
	width: 25px;
	height: 25px;
	border-radius: 20px;
	margin-left: 5px;
}
