.banner {
	background-image: url(../../images/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 440px;
	color: black;
}
.main-text {
	font-weight: 700;
	font-size: 36px;
	line-height: 46.8px;
	margin-top: 286px;
	color: #fff;
	margin-left: 200px;
}
.sub-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 23.4px;
	color: #fff;
	margin-left: 200px;
}

@media only screen and (width: 360px) {
	.banner {
		background-image: url(../../images/background.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 236px;
		width: 360px;
	}
	.main-text {
		font-weight: 700;
		font-size: 17px;
		line-height: 22.1px;
		margin-top: 100px;
		color: #fff;
		margin-left: 16px;
	}
	.sub-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 15.6px;
		color: #fff;
		margin-left: 16px;
	}
}

@media only screen and (max-width: 600px) {
	.banner {
		background-image: url(../../images/background.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 236px;
		width: 540px;
	}
	.main-text {
		font-weight: 700;
		font-size: 17px;
		line-height: 22.1px;
		margin-top: 100px;
		color: #fff;
		margin-left: 16px;
	}
	.sub-text {
		font-weight: 400;
		font-size: 12px;
		line-height: 15.6px;
		color: #fff;
		margin-left: 16px;
	}
}
@media screen and (min-width: 601px) and (max-width: 800px) {
	.banner {
		background-image: url(../../images/background.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 236px;
		width: 740px;
	}
	.main-text {
		font-weight: 700;
		font-size: 27px;
		line-height: 22.1px;
		margin-top: 100px;
		color: #fff;
		margin-left: 106px;
	}
	.sub-text {
		font-weight: 400;
		font-size: 1\22px;
		line-height: 15.6px;
		color: #fff;
		margin-left: 106px;
	}
}
